/* Fuentes de la web */
	@font-face {
	    font-family: 'archisticonormal';
	    src: url('../fuentes/Archistico_Simple-webfont.eot');
	    src: url('../fuentes/Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fuentes/Archistico_Simple-webfont.woff') format('woff'),
	         url('../fuentes/Archistico_Simple-webfont.ttf') format('truetype'),
	         url('../fuentes/Archistico_Simple-webfont.svg#archisticonormal') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

/* Inicio por tags */
	a
	{
		text-decoration: none;
	}
	body
	{
		background: #41ADFB;
		font-family: Arial;
		font-size: 16px;
		height: 100%;
		overflow: hidden
	}
	html
	{
		height: 100%;
	}
	header
	{
		background-color: #FF6633;
		margin: 0;
		padding: 0;
	}
	header h1
	{
		display: none;
	}
	header nav
	{
		background: #E9E9E9;
	}
	header nav ul
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	header nav ul li
	{
		background: linear-gradient(#FFFFFF 0%, #E1E1E1 50%, #B7B7B7 52%, #DDDDDD 100%);
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		width: 99%;
	}
	header nav ul li a
	{
		color: black;
		display: block;
		margin: 0;
		padding: 0.5em 0;
	}
	header nav ul li a:hover
	{
		background: linear-gradient(#41ADFB 0%, #058CEF 50%, #0469B5 52%, #41ADFB 100%);
		color: white;
	}
	header #logo_header
	{
		margin: 0;
		text-align: center;
	}
	header #logo_header img
	{
		margin: 0.5em;
		width: 220px;
	}
	header .idiomas
	{
		list-style: none;
		margin: 0.5em 0 0 0;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
	}
	header .idiomas li
	{
		display: inline-block;
		margin: 0;
	}
	header .idiomas li:hover
	{
		transform: scale(1.2);
	}
	header .idiomas li a img
	{
		height: 20px;
		width: 25px;
	}
	footer
	{
		background: #F96C28;
		box-shadow: 0 -2px 15px #808080;
		overflow: hidden;
	}
	footer #redes_sociales
	{
		float: right;
		list-style: none;
		margin: 0.5em 0.3em 0 0;
		padding: 0;
		width: 80px;
	}
	footer #redes_sociales li
	{
		display: inline-block;
		margin: 0 0.1em;
	}
	footer #redes_sociales li:hover
	{
		transform: scale(1.3);
	}
	footer #redes_sociales li a img
	{
		height: 34px;
		width: 34px;
	}
	footer .derechos_autor
	{
		color: white;
		float: left;
		font-size: 0.8em;
		margin: 1em 0 2em 8em;
		width: 53%;
	}
	footer .derechos_autor a
	{
		color: white;
		text-decoration: underline;
	}
	footer .logo_footer
	{
		margin: 0.5em 0 0.2em 0;
		position: relative;
		width: 85px;
	}
	footer .logo_footer img
	{
		left: -0.5em;
		position: absolute;
		width: 100%;
	}
	label
	{
		display: block;
		font-style: italic;
		font-weight: bold;
		margin: 0.5em 1em;
	}

/* Inicio por ids*/
	#formulario
	{
		background: #FF6633;
		border-radius: 1.5em;
		box-shadow: 5px 5px 10px #808080;
		margin: 1em auto;
		padding: 1.5em;
		text-align: center;
		width: 85%;
	}
	#formulario input
	{
		border-radius: 0.5em;
		margin: 0.2em 0;
		padding: 0.3em;
		width: 95%;
	}
	#formulario input:last-child
	{
		border-radius: 0.5em;
		width: 40%;
	}
	#formulario input:last-child:hover
	{
		background: linear-gradient(#41ADFB 0%, #058CEF 50%, #0469B5 52%, #41ADFB 100%);
		color: white;
	}
	#formulario textarea
	{
		border-radius: 0.5em;
		resize: none;
		margin: 0.2em 0;
		padding: 0.3em;
		width: 95%;
	}
	#paquetes_home
	{
		padding-bottom: 0.6em;
		width: 100%;
	}
	#paquetes_home p:first-child
	{
		font-weight: bold;
		margin-left: 0.5em;
	}
	#paquetes_home .item
	{
		border-radius: 1em;
		box-shadow: 5px 6px 10px #808080;
		margin: 0.6em 0.4em;
		overflow: hidden;
		/*width: 98%;*/
	}
	#paquetes_home .item:hover
	{
		border: 1.5px solid #0000A0;
		cursor: pointer;
	}
	#paquetes_home .item_noSeleccionado
	{
		background: #41ADFB;
	}
	#paquetes_home .item_seleccionado
	{
		background: #F96C28;
	}
	#paquetes_home .item .enlace_item .actividades
	{
		color: #FFFFFF;
		display: none;
		font-size: 0.9em;
		font-style: italic;
		float: left;
		margin: 1em 0 0.5em 1em;
		width: 49.9%;
	}
	#paquetes_home .item .enlace_item .actividades ul
	{
		margin: 0 1em;
		padding: 0;
		width: 100%;
	}
	#paquetes_home .item .enlace_item .actividades ul li
	{
		margin: 0.5em 0;
	}
	#paquetes_home .item .enlace_item .descripcion_item
	{
		color: #FFFFFF;
		font-size: 0.9em;
		font-style: italic;
		line-height: 1.5em;
		margin: 1em 0 0.5em 1em;
		width: 100%;
	}
	#paquetes_home .item .enlace_item .imagen_item
	{
		float:left;
		height: 150px;
		margin: 0;
		width: 40%;
	}
	#paquetes_home .item .enlace_item .imagen_item img
	{
		height: 100%;
		margin: 0;
		width: 100%;
	}
	#paquetes_home .item .enlace_item .texto_item
	{
		float: left;
		margin: 0;
		padding: 0;
		width: 49.9%;
	}
	#paquetes_home .item .enlace_item .titulo_item
	{
		color: #000000;
		margin: 2em 0.5em 0.5em 1em;
		width: 100%;
	}

/* Inicio por clases */
	.botones_adicionales a
	{
		background: linear-gradient(#2FAE55 0%, #279247 50%, #217A3C 52%, #2EA953 100%);
		border-radius: 0.5em;
		color: white;
		font-weight: bold;
		margin: 0 1em 1em 4em;
		padding: 0.5em;
		text-align: center;
		width: 30%
	}
	.botones_adicionales a:hover
	{
		background: linear-gradient(#00FF00 0%, #00CE00 50%, #00B300 52%, #00FF00 100%);
	}
	.botones_adicionales a,
	.botones_adicionales iframe
	{
		display: inline-block;
		vertical-align: middle;
	}
	.botones_adicionales iframe
	{
		height: 30px;
		padding: 0.5em;
		width: 35%;
	}
	.botones_cel
	{
		display: block;
	}
	.botones_pc
	{
		display: none;
	}
	.condiciones_pago p
	{
		margin: 1em;
		text-align: justify;
	}
	.condiciones_pago ul li
	{
		font-weight: bold;
		margin: 1em 0;
	}
	.condiciones_pago, .metodos_pago
	{
		margin: 1em 0.5em 3em 0.5em;
	}
	.contenido
	{
		background: white;
		width: 100%;
	}
	.contenido #presentacion
	{
		position: relative;
		width: 100%;
	}
	.contenido #presentacion .imagen_presentacion
	{
		margin: 0;
		padding: 0;
	}
	.contenido #presentacion .imagen_presentacion img
	{
		height: 320px;
		width: 100%
	}
	.contenido #presentacion .titulo_presentacion
	{
		color: #238340;
		font-family: 'archisticonormal';
		font-weight: bold;
		left: 0;
		margin: 0.5em;
		position: absolute;
		text-shadow: -3px -3px 3px white, 3px -3px 3px white, -3px 3px 3px white, 3px 3px 3px white;
		top: 0;
	}
	.contenido .cronograma .boton_presentacion
	{
		background: linear-gradient(#4FEE1A 0%, #00D500 50%, #00CA00 52%, #00A600 100%);
		border-radius: 0.5em;
		bottom: 0;
		color: white;
		font-weight: bold;
		margin: 2em;
		padding: 0.7em;
		position: absolute;
		right: 0;
	}
	.contenido .cronograma .boton_presentacion:hover
	{
		color: black;
		background: linear-gradient(#FFFF62 0%, #FFFF00 50%, #E6E600 52%, #FFFF00 100%);
	}
	.contenido_acercade
	{
		padding: 0.5em 0;
	}
	.contenido_acercade figure
	{
		margin: 0;
		width: 100%;
	}
	.contenido_acercade figure img
	{
		height: 100%;
		width: 100%;
	}
	.contenido_acercade p
	{
		line-height: 1.3em;
		margin: 0;
		padding: 1em;
		text-align: justify;
	}
	.contenido_contacto p
	{
		margin: 1em;
		text-align: justify;
	}
	.contenido_contacto
	{
		padding: 0.5em 0;
	}
	.contenido_contacto #complemento_contacto figure
	{
		display: none;
	}
	.contenido_contacto #complemento_contacto ul
	{
		list-style: none;
		margin: 1em 0;
		padding: 0;
		text-align: center;
	}
	.contenido_contacto #complemento_contacto ul li
	{
		display: inline-block;
		font-size: 1.5em;
		margin: 0 0.5em;
		text-shadow: 5px 5px 2px #808080;
	}
	.contenido_contacto #complemento_contacto ul li:hover
	{
		text-shadow: none;
		transform: scale(1.2);
	}
	.contenido_contacto #complemento_contacto ul li a
	{
		text-decoration: none;
	}
	.contenido_contacto #complemento_contacto ul li a img
	{
		height: 40px;
		width: 40px;
	}
	.cronograma
	{
		position: relative;
		margin: 0.5em 0;
	}
	.cronograma a figure
	{
		margin: 0 0.1em;
		padding: 0;
		width: 100%;
	}
	.cronograma a figure img
	{
		width: 100%;
	}
	.link_pago
	{
		background: linear-gradient(#37FF37 0%, #00D200 50%, #00D900 52%, #06FF06 100%);
		border-radius: 0.5em;
		color: white;
		float: right;
		margin: 0 2em 0 0;
		padding: 0.5em 1em;
		text-decoration: none;
		text-align: center;
	}
	.link_pago:hover
	{
		background: linear-gradient(#FFFF40 0%, #FFFF00 50%, #DFDF00 52%, #FFFF00 100%);
		color: black;
	}
	.metodos_pago a
	{
		display: block;
		margin: 0.8em auto;
		width: 50%;
	}
	.metodos_pago a img
	{
		height: 60px;
		width: 100%;
	}
	.popup_correo
	{
		border: 3px solid white;
		background: #FF6633;
		border-radius: 0.5em;
		/*display: none;*/
		left: 12%;
		position: absolute;
		top: 30%;
		width: 80%;
		z-index: 2;
	}
	.popup_correo figure
	{
		margin: 1em auto 0.5em auto;
		width: 50%;
	}
	.popup_correo figure img
	{
		width: 100%;
	}
	.popup_correo h3
	{
		color: white;
		margin: 0.5em auto;
		text-align: center;
	}
	.popup_correo p
	{
		color: white;
		margin: 0 1em;
		text-align: justify;
	}
	.popup_correo .botones_popup
	{
		text-align: center;
	}
	.popup_correo .botones_popup button
	{
		border-radius: 0.5em;
		margin: 1em auto;
		padding: 0.3em 1em;
	}
	.popup_correo .botones_popup button:hover
	{
		background: linear-gradient(#41ADFB 0%, #058CEF 50%, #0469B5 52%, #41ADFB 100%);
		color: white;
	}
	.seccion_pago form
	{
		padding: 0.5em 1em 0 1em;
		text-align: center;
	}
	.seccion_pago form input[type="image"]
	{
		width: 50%;
	}
	.seccion_pago form input[type="image"]:hover
	{
		transform: scale(1.2);
	}

/* Media Queries para el responsive*/
	@media screen and (min-width: 500px){
		.popup_correo
		{
			left: 15%;
			top: 30%;
			width: 70%;
		}
	}
	@media screen and (min-width: 700px){
		.popup_correo
		{
			left: 19%;
			top: 30%;
			width: 60%;
		}
	}
	@media screen and (min-width: 800px){
		header nav ul li
		{
			width: 33.3%;
		}
		footer #redes_sociales
		{
			margin-right: 3em;
		}
		footer .derechos_autor
		{
			margin-left: 10em;
		}
		footer .logo_footer
		{
			margin-left: 2em;
		}
		#paquetes_home p:first-child
		{
			margin-left: 2em;
		}
		#paquetes_home .item
		{
			display: inline-block;
			width: 48%;
		}
		#paquetes_home .item:last-child
		{
			box-shadow: none;
		}
		#paquetes_home .item:last-child:hover
		{
			border: none;
			cursor: normal;
		}
		.botones_adicionales a
		{
			width: 70%;
		}
		.botones_adicionales a,
		.botones_adicionales iframe
		{
			display: block;
			margin: 0 auto;
		}
		.botones_adicionales iframe
		{
			width: 20%;
		}
		.botones_cel
		{
			display: none;
		}
		.botones_pc
		{
			display: block;
		}
		.contenido_acercade
		{
			height: 60%;
			padding: 1em 0 3.3em 0;
		}
		.contenido_acercade figure, .contenido_acercade p
		{
			display: inline-block;
			vertical-align: top;
			width: 47%;
		}
		.contenido_contacto #complemento_contacto,
		.contenido_contacto #seccion_formulario
		{
			display: inline-block;
			margin: 0.1em;
			vertical-align: top;
			width: 49%;
		}
		.contenido_contacto #complemento_contacto figure
		{
			display: block;
			margin: 1.5em auto;
			width: 95%;
		}
		.contenido_contacto #complemento_contacto figure img
		{
			border-radius: 0.5em;
			width: 100%;
		}
		.contenido_contacto .seccion_pago form input[type="image"]
		{
			width: 50%;
		}
		.link_pago
		{
			float: left;
			margin-left: 2.5em;
		}
		.metodos_pago a
		{
			display: inline-block;
			margin: 1em;
			text-align:center;
			width: 45%;
		}
		.metodos_pago a img{
			width: 65%;
		}
		.popup_correo
		{
			left: 24%;
			top: 30%;
			width: 50%;
		}
	}
	@media screen and (min-width: 1000px){
		.popup_correo
		{
			left: 30%;
			top: 37%;
			width: 40%;
		}
	}
	@media screen and (min-width: 1200px){
		header h1
		{
			color: white;
			display: block;
			margin: 0.5em 0 0.5em 3em;
			padding-left: 1em;
			width: 60%;
		}
		header div, header figure
		{
			display: inline-block;
			vertical-align: middle;
		}
		header div
		{
			width: 80%;
		}
		header nav
		{
	        background: linear-gradient(#FFFFFF 0%, #E1E1E1 50%, #B7B7B7 52%, #DDDDDD 100%);
	        border-radius: 20em;
	        margin-left: 14em;
	        margin-top: 0.5em;
	        width: 70%;
		}
		header nav ul
		{
			position: relative;
		}
		header nav ul li
		{
			background: none;
			width: 28%;
		}
		header nav ul li:first-child
		{
			padding-left: 1.7em;
			width: 35%;
		}
		header nav ul li a
		{
			padding: 0.6em 0.2em;
		}
		header nav, header #logo_header
		{
			display: inline-block;
			vertical-align: middle;
		}
		header a #logo_header
		{
			margin-left: 2em;
			text-align: left;
		}
		#paquetes_home .item
		{
			width: 31.7%;
		}
		#paquetes_home .item:last-child
		{
			width: 65%;
		}
		#paquetes_home .item .enlace_item .texto_item
		{
			width: 59%;
		}
		#paquetes_home .item .enlace_item .texto_item .descripcion_item
		{
			width: 90%;
		}
		#paquetes_home .item .enlace_item .texto_item .titulo_item
		{
			width: 55%;
		}
		.botones_adicionales a
		{
			width: 50%;
		}
		.botones_adicionales iframe
		{
			width: 10%;
		}
		.contenido
		{
			box-shadow: 0 0 15px #C0C0C0;
			margin: 0 auto;
			width: 85%;
		}
		.contenido #presentacion .titulo_presentacion
		{
			font-size: 2.8em;
		}
		.contenido_acercade
		{
			height: 65.4%;
		}
		.contenido_contacto
		{
			padding: 2em;
		}
		.contenido_pago
		{
			padding: 2em 0 11em 0;
		}
		.contenido_contacto .seccion_pago form input[type="image"]
		{
			width: 40%;
		}
		.cronograma
		{
			width: 100%;
		}
		.cronograma a figure
		{
			height: 500px;
			margin: 0;
		}
		.cronograma a figure img
		{
			height: 100%;
			width: 100%;
		}
	}
	@media screen and (min-width: 1300px){
		.popup_correo
		{
			left: 34%;
			top: 30%;
			width: 33%;
		}
	}